.popup {
  -webkit-transition: visibility .3s linear, opacity .3s linear;
     -moz-transition: visibility .3s linear, opacity .3s linear;
       -o-transition: visibility .3s linear, opacity .3s linear;
          transition: visibility .3s linear, opacity .3s linear;
  display: flex;       
  opacity: 0;
  visibility: hidden;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
}