.popup__place-pic {
  max-width: 291px;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  pointer-events: none;
  margin-top: 10px;
}