.popup__input {
 border: 0;
 max-width: 358px;
 width: 100%;
 font-family: inherit;
 font-size: inherit;
 padding: 10px 5px;
 border-bottom: 1px solid rgba( 0, 0, 0, .2);
 margin-top: 13.11%;/*48*/
 pointer-events: fill;
}

.popup__input:focus {
  outline: 2px groove rgba(106, 151, 235, 0.657);
}

@media screen and (max-height: 414px) {
  .popup__input {
    margin-top: 20px;
  }
  .popup__input:last-of-type {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .popup__input {
   margin-top: 10%;/*20*/
  }

  .popup__input:last-of-type {
   margin-bottom: 18%;/*36*/
  }
}