.popup__input_type_trash {
  border: hidden;
  height: 0;
  visibility: hidden;
}

.popup__input_type_trash:focus {
  outline: none;
  border: none;
}

.popup__input_type_trash:valid {
  border: none;
}

.popup__input_type_trash:invalid {
  border: none;
}